<div class="homepage">
  <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" height="" width="" class="logo">
  <h1>Welcome to Shopify Theme Development With Tailwindcss!</h1>
  <p>{% render 'homepage-text' %}</p> 
</div> 