<div class="homepage flex flex-wrap justify-center items-center p-10 max-w-7xl mx-auto my-20">
  {% comment %} <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" height="" width="" class="logo"> {% endcomment %}
  <h1 class="text-4xl mb-8 font-bold text-center">Welcome to Shopify Theme Development With Tailwindcss!</h1>
  <p class="text-center">{% render 'homepage-text' %}</p> 
</div> 